bin/
jar/
tmp/
results/
datasets/lptree*
datasets/renault_special/
.classpath
.project
.settings/
*~
*.txt
*.dot
*.ods
*.class
*.tar
*.zip
data_*.R
graphe_taille_*.R
.Rhistory
*.aux
*.log
*.out
*.pdf
*.synctex.gz
*.swp
*~
