src/br4cp/VerificationContraintes.java
bin/
.classpath
.project
.settings/
*~
*.jar
smallhist/smallvariance_variance*
expe_*
*.txt
*.dot
*.ods
*.class
*.tar
*.zip

/src/methode_oubli/OubliParReseauBayesien.java
